@use "variable" as *;
@use "mixins" as *;

.site-header {
  @include flex-center;
  width: 100vw;
  top: 0;
  position: sticky;
  background-color: $background-color-light;
  z-index: 999;
  animation: shadowShiftLightHeader 7s ease-in-out infinite;

  nav {
    width: 80%;
    .nav-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nl-cont {
        display: flex;
        .nav-link {
          display: flex;
          align-items: center;
          padding: 20px 10px;

          .nav-icon-wrapper {
            padding-right: 5px;
            .nav-icon {
            }
          }
          .nav-text-wrapper {
            @media (max-width: 400px) {
              display: none;
            }
          }
        }
      }

      #theme-toggle {
        all: unset;
        padding: 20px 10px;
        cursor: pointer;
        .theme-icon {
        }
      }
    }
  }
}

body.dark-mode {
  .site-header {
    background-color: $background-color-dark;
    animation: shadowShiftDarkHeader 7s ease-in-out infinite;
  }
}

@keyframes shadowShiftLightHeader {
  0%, 100% {
    box-shadow: 0 8px 16px rgba(72, 166, 167, 0.6);
  }
  50% {
    box-shadow: 0 12px 24px rgba(0, 106, 113, 0.3);
  }
}

@keyframes shadowShiftDarkHeader {
  0%, 100% {
    box-shadow: 0 8px 16px rgba(180, 235, 230, 0.6);
  }
  50% {
    box-shadow: 0 12px 24px rgba(77, 182, 172, 0.3);
  }
}
