@use "variable" as *;
@use "mixins" as *;

body {
  .site-index {
    .full-container {
      .content-container {
        .hero-include {
          
        }
        .skills-include {

        }
        .exp-include {

        }
        .projects-include {
          
        }
      }
    }
  }
}

body.dark-mode {
  .name {
    color: $link-color-dark;
  }
  .cta-buttons {
    .cta-1 {
      a {
        &.cta-btn {
          background-color: $link-color-dark;
          color: #333;
          border: 2px solid $link-color-dark;

          &:hover {
            background-color: $link-hover-color-dark;
            border-color: $link-hover-color-dark;
          }
        }

        &.btn {
          color: $link-color-dark;
          border: 2px solid $link-color-dark;

          &:hover {
            color: $link-hover-color-dark;
            border-color: $link-hover-color-dark;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 700px) {
  body {
    .site-index {
      .full-container {
        .content-container {
          .hero-section {
            flex-direction: column;
            gap: 32px;

            .image {
              width: 70%;
              max-width: 320px;
              min-width: 140px;
              margin: 0 auto;
            }

            .text {
              width: 100%;
              min-width: 0;
              text-align: center;

              #text-name {
                h1 {
                  .hmsg-cont {
                    width: 100%;
                    min-width: unset;
                    max-width: 100%;
                    font-size: 42px;
                    height: auto;
                    min-height: unset;
                    max-height: unset;
                    justify-content: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}